.footer{
    background:rgb(26, 26, 99) ;
    color: aliceblue;

    .top{
      display: flex;
      justify-content: center;
      padding-top:3%;
      margin-left:  12%;
      margin-right: 1%;
    }
      
      .col{
        background-color:rgb(26, 26, 99) ;
        margin: 20px;
        justify-content: center;
      }
      
        }
    
 .bottom{ 
  border-top:2px solid aliceblue ;

      display: flex;
     justify-content: center;
      align-items:center;
    }