<div  class="footer">
    <div class="top"> 
            <div class="col">
                <h2>Acceuil</h2>
                 <h2>Contact</h2>
                 <h2>A propos</h2>
            </div>
            <div class="col">
                <h2>Entreprise</h2>
                <h2>Publier  une annonce</h2>
                <h2>Trouver un cv</h2>
            </div>
            <div class="col">
                <h2>Stagiere</h2>
                <h2>Postuler</h2>
                <h2>Trouver un cv</h2>
            </div>
        </div>
    <div class="bottom"> 
        <div class="legal"><br>
        <span> © 2023 All rights reserved </span> <a> License </a> 
        </div> 
    </div>
</div>

