<div class="titre">
    <h1>Connexion</h1>
</div>
<div class="sec">
    
   <div class="login">
        <form action="#">
            <div class="sec1">
                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse Email :</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label  for="exampleInputPassword1">Mot de passe : </label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <a class="btn  my-2 my-sm_0" >Connexion</a>
            </div>
            <div class="sec2">
                <div class="form-check">
                  <a routerLinkActive="List-item-active" routerLink="/forget"> mot de passe oublié ?</a>
                </div>
             </div>
        </form>
        <div class="imag"></div>
    </div>
</div>