<div class="sec">
    <div class="card">
        
        <form action="#">
            <div class="sec1">
                <div class="titre">
                    <a href="#">
                <h1>ConnectMe</h1>
                <p>YOUR PATH TO PORFESSIONAL SUCCESS</p></a>
                </div>
                <div class="form__group field">
                    <input type="email" class="form__field" placeholder="Email" name="Email" id='Email' required />
                    <label for="Email" class="form__label">Email</label>
                  </div>
                  <div class="form__group field">
                    <input type="password" class="form__field" placeholder="password" name="password" id='password' required />
                    <label for="password" class="form__label">password</label>
                  </div>
                  <div class="submit"  ><input routerLinkActive="List-item-active" routerLink="/dashboard" type="submit" value="Login"></div>
            </div>
            <div class="sec2">
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label><a routerLinkActive="List-item-active" routerLink="/forget">Forgot password?</a>
                  </div>
                
                <p>Don't have an account? <a routerLinkActive="List-item-active" routerLink="/signup">Sign up</a></p>
            </div>
        </form>
    </div>
</div>

